<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard_index' %}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Quản lý Tài sản</div>
    </a>
  
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'dashboard_index' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
  
    <!-- Divider -->
    <hr class="sidebar-divider">
  
    <!-- Heading -->
    <div class="sidebar-heading">Chức năng</div>
  
    <!-- Quản lý Tài sản -->
    {% if perms.assets.view_asset %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'asset_list' %}">
        <i class="fas fa-box"></i>
        <span>Quản lý tài sản</span>
      </a>
    </li>
    {% endif %}
    
    <!-- Quản lý Người dùng -->
    {% if perms.auth.view_user %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'user_list' %}">
        <i class="fas fa-users"></i>
        <span>Người dùng</span>
      </a>
    </li>
    {% endif %}
  
    <!-- Quản lý Nhóm quyền -->
    {% if perms.auth.view_group %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'group_list' %}">
        <i class="fas fa-user-friends"></i>
        <span>Nhóm quyền</span>
      </a>
    </li>
    {% endif %}
  
    <!-- Quản lý Công ty -->
    {% if perms.companies.view_company %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'company_list' %}">
        <i class="fas fa-building"></i>
        <span>Công ty</span>
      </a>
    </li>
    {% endif %}

    <!-- Quản lý Phòng Ban -->
    {% if perms.departments.view_department %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'department_list' %}">
        <i class="fas fa-sitemap"></i>
        <span>Phòng Ban</span>
      </a>
    </li>
    {% endif %}
  
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
  
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
