{% extends 'base/base.html' %}
{% block content %}
<h1 class="h3 mb-4 text-gray-800">User Detail</h1>

<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>Full Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
<p><strong>Staff:</strong> {{ user.is_staff }}</p>
<p><strong>Active:</strong> {{ user.is_active }}</p>

<!-- Hiển thị employee_code -->
<p><strong>Employee Code:</strong> {{ user.userprofile.employee_code }}</p>

<!-- Hiển thị nguồn tài khoản -->
<p><strong>Source:</strong>
  {% if user.userprofile.is_ldap_user %}
    LDAP
  {% else %}
    System
  {% endif %}
</p>

<a href="{% url 'user_edit' user.id %}" class="btn btn-primary">Edit</a>
<a href="{% url 'user_list' %}" class="btn btn-secondary">Back to List</a>
{% endblock %}
